
.area {
    fill: transparent;
    stroke: red;
    clip-path: url(#clip);
  }

.areaTend {
    fill: transparent;
    stroke: blue;
    clip-path: url(#clip);
  }
  
  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }
  